// grid images

$gallery__images--1: "../img/raft.jpg";
$gallery__images--2: "../img/tent.jpg";
$gallery__images--3: "../img/backpacking.jpg";
$gallery__images--4: "../img/canoe.jpg";
$gallery__images--5: "../img/river.jpg";
$gallery__images--6: "../img/home.jpg";

$gallery__images: $gallery__images--1, $gallery__images--2, $gallery__images--3, $gallery__images--4, $gallery__images--5, $gallery__images--6;
